<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/static/contact.css" />
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Orbitron&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="navbar">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/monitoring">Monitoring</a>
          <a href="/contact" class="active">Contact</a>
        </div>
      </nav>
      <main class="profile-wrapper">
        <section class="profile-right">
          <div class="profile-text">
            <p class="nim">140910240005</p>
            <p class="name">Rifki Falah Azima</p>
            <p class="contact">
              <a href="https://wa.me/6282112330560" target="_blank">082112330560</a>
            </p>
            <p class="desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <img class="avatar1" src="/static/images/profile.png" alt="Rifki" />
        </section>
        <hr class="divider" />
        <section class="profile-left">
          <img class="avatar2" src="/static/images/profile.png" alt="Rafi" />
          <div class="profile-text">
            <p class="nim">140910240031</p>
            <p class="name">Muchammad Rafi Attariq</p>
            <p class="contact">
              <a href="https://wa.me/6281909787426" target="_blank">081909787426</a> |
              <a href="mailto:Rafiattariq346@gmail.com">Rafiattariq346@gmail.com</a>
            </p>
            <p class="desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </section>
      </main>
    <footer>
      <img src="/static/images/profile.png" alt="Profile" />
      <span>{{ username }}</span>
    </footer>
    </div>
  </body>
</html>
